* {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #0c0c0c !important;
}

.header-container {
  background-color: #121212; 
}

.introduction {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 50px;
  position: relative;
 
}

#img-port {
  width: 250px;
  clip-path: polygon(15% 20%, 100% 0%, 85% 80%, 0% 100%);
}

.nav-port {
  color: #3B8FDC;
}

.nav-port:hover {
  color: #4CDFFF;
  text-decoration: none;
}

.nav-item a {
  color: #c4c4c4;
}

.nav-item a:hover {
  color: #4CDFFF;
}

.hr-line {
  margin: 0 auto;
}

.hr-line hr {
  border: 2px solid #222121;
}

.presentation {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
}

.presentation-name {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  text-transform: uppercase;
  color: #3B8FDC;
}

.presentation-profession {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-social {
  display: flex;
  gap: 10px;
}

.img-social {
  width: 24px;
  height: 24px;
}

.btn-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  border-radius: 4px;
  width: 60px;
  height: 44.7px;
  background-color: #121212;
  border: 2px solid;
  border-image: linear-gradient(45deg, #9358f7, #10d7e2 100%) 1;
  color: #fff;
}

.btn-social-link img {
  margin-bottom: 7px;
}

.btn-social-git {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  border-radius: 4px;
  width: 60px;
  height: 45px;
  background-color: #121212;
  border: 2px solid;
  border-image: linear-gradient(45deg, #d24074, #6518b4 100%) 1;
  color: #fff;
}

.btn-social-link a,
.btn-social-git a {
  margin-left: 8px;
  text-decoration: none !important;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.btn-social-link a:hover,
.btn-social-git a:hover {
  color: #4CDFFF;
}
