* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0c0c0c;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 40px;
}

.main-container {
  background-color: #121212;
}

.introduction {
  max-width: 972px;
  padding: 40px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 50px;
  position: relative;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 179px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

nav ul li {
  margin: 0 15px;
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 21px;
}

nav ul li a {
  color: #c4c4c4;
  text-decoration: none;
}

.navbar-container {
  margin-left: 180px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  font-style: normal;
  text-decoration: none;
}

#img-port {
  margin-top: 60px;
  width: 250px;
}

.nav-port {
  margin: 0 0 10px 30px;
  text-decoration: none;
  font-size: 36px;
  color: #69adec;
}

.nav-port:hover {
  color: #4cdfff;
  text-decoration: none;
}

.nav-item a:hover {
  color: #4cdfff;
}

hr {
  width: 70%;
  margin: 0 auto;
  border: 2px solid #151515;
}

.presentation {
  margin-top: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
}

.presentation-name {
  margin-top: 12px;
  border-right: 2px solid #3b8fdc;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  text-transform: uppercase;
  color: #3b8fdc;
  white-space: nowrap;
  overflow: hidden;
}

.presentation-profession {
  margin-top: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-social {
  display: flex;
  gap: 10px;
  margin-top: 60px;
}

.img-social {
  width: 24px;
  height: 24px;
}

.btn-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  width: 153px;
  height: 45px;
  background-color: #121212;
  border: 2px solid;

  border-image: linear-gradient(45deg, #9358f7, #10d7e2 100%) 1;
  color: #fff;
}

.btn-social-link img {
  margin-bottom: 7px;
}

.btn-social-git {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  border-radius: 4px;
  width: 153px;
  height: 45px;
  background-color: #121212;
  border: 2px solid;
  border-image: linear-gradient(45deg, #d24074, #6518b4 100%) 1;
  color: #fff;
}

.btn-social-link a,
.btn-social-git a {
  margin-left: 8px;
  text-decoration: none !important;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.btn-social-link a:hover,
.btn-social-git a:hover {
  color: #4cdfff;
}

.personal-data-container {
  width: 100%;
  height: 585px;
  background-color: #151515;
}

.personal-data {
  max-width: 972px;
  padding: 40px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 50px;
}

.about-me {
  font-style: Bold;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.address {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  color: #fff;
}

.biography {
  margin-top: 0;
  margin-bottom: 3.5rem;
  line-height: 32px;
  font-weight: 300;
  color: #c4c4c4;
}

.btn-contact {
  display: flex;
  gap: 10px;
}

.btn-resume {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  border-radius: 4px;
  width: 60px;
  height: 44.7px;
  width: 153px;
  height: 45px;
  border-radius: 4px;
  border-image: linear-gradient(45deg, #d24074, #6518b4 100%) 1;
  background-color: #121212;
  color: #fff;
}

.btn-email {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  border-radius: 4px;
  width: 60px;
  height: 44.7px;
  width: 153px;
  height: 45px;
  border-radius: 4px;
  border-image: linear-gradient(45deg, #9358f7, #10d7e2 100%) 1;
  background-color: #121212;
  color: #fff;
}

.btn-resume a,
.btn-email a {
  margin-left: 8px;
  text-decoration: none !important;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.36px;
  color: #ffffff;
}

#img-data {
  width: 270px;
  margin-bottom: 60px;
}

.professional-data {
  width: 100%;
  background-color: #121212;
}

.professional-data ul {
  list-style: none;
}

.professional-data ul li {
  margin: 20px 0;
}

.experience {
  margin-top: 40px;
  margin-left: 160px;
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
}

.professional-data-container {
  display: flex;
  flex-direction: row;
}

.experience-company section {
  display: flex;
}

.embra-data,
.money-data,
.mobi-data {
  margin: 0 20px;
  margin-bottom: 15px;
}

.embra-data,
.money-data,
.mobi-data {
  transform: translateX(-80%) scale(0);
  transition: 1.5s;
}

section div:hover ~ .embra-data {
  transform: translateX(0) scale(1);
  transition: 2s;
}

section div:hover ~ .money-data {
  transform: translateX(0) scale(1);
  transition: 2s;
}

section div:hover ~ .mobi-data {
  transform: translateX(0) scale(1);
  transition: 2s;
}

.transform-active {
  transform: translateX(0) scale(1);
}

.professional-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.professional-item h3 {
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  color: #fff;
  font-weight: 500;
}

.professional-item p {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #fff;
}

.company-name {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  font-weight: 500;
  color: #3b8fdc;
}

.company-name-description {
  max-width: 700px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  font-weight: 300;
  color: #c4c4c4;
}

.experience-company {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 160px;
  cursor: pointer;
}

.experience-company h2 {
  width: 193px;
  padding: 20px 0;
  background-color: #151515;
}

.experience-company div h2 {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.border-color-blue {
  border-left: 2px solid #10d7e2;
}

.my-projects {
  width: 100%;
  background-color: #151515;
  height: auto;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.project-item1,
.project-item3,
.project-item5 {
  margin-left: 140px;
}

.project-item-img {
  width: 450px;
  height: 200px;
  background-color: #121212;
}

.project-item-description h4 {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #fff;
}

.project-item-description p {
  max-width: 450px;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
  font-weight: 300;
  color: #c4c4c4;
}

.project-item-description span {
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  font-weight: 500;
  color: #3b8fdc;
}

.my-projects h3 {
  padding-top: 100px;
  margin-left: 140px;
  margin-bottom: 60px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
}

.project-btn-link {
  margin-top: 40px;
  margin-bottom: 90px;
  border-radius: 4px;
  width: 140px;
  height: 45px;
  background-color: #121212;
  border: 2px solid;
  border-image: linear-gradient(45deg, #9358f7, #10d7e2 100%) 1;
  color: #fff;
}

.project-btn-link a {
  margin-left: 8px;
  text-decoration: none !important;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.project-btn-link a:hover {
  color: #3b8fdc;
}

.footer-container {
  max-width: 1200px;
  height: 100px;
  margin: 0 auto;
  margin-top: -50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #121212;
}

.project-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 650px;
  height: 100px;
}

.project-footer-title {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: -160px;
}

.project-footer-title h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #c4c4c4;
}

.project-footer-paragraph {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: -170px;
  color: #c4c4c4;
}

.project-footer-paragraph-item span {
  margin: 0 auto;
}

.project-footer-paragraph-item #img-code {
  margin-bottom: -12px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .navbar-container {
    display: none;
  }
  .menu {
    background-color: #2f2e2e;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 30px;
    right: 20px;
    cursor: pointer;
    box-shadow: 0 0 0 0 #2f2e2e, 0 0 0 0 #2f2e2e;
    transition: box-shadow 1s ease-in-out;
  }

  .menu:hover {
    box-shadow: 0 0 0 8px #2f2e2e, 0 0 0 8px #2f2e2e;
  }

  .open-menu {
    opacity: 1;
    visibility: visible;
  }

  input {
    display: none;
  }

  .container {
    margin: 0 auto;
    margin-top: 1rem;
  }
  .introduction {
    display: block;
    margin: 0 auto;
  }
  #img-port {
    width: 200px;
    margin: 5px 15px;
  }
  .presentation {
    font-size: 18px;
    line-height: 22px;
    margin: 5px 15px;
  }
  .presentation-name {
    margin: 5px 15px;
    font-size: 36px;
    line-height: 60px;
  }
  .presentation-profession {
    font-size: 18px;
    line-height: 22px;
    margin: 5px 15px;
  }
  .btn-social {
    margin: 15px;
  }

  .personal-data-container {
    height: auto;
  }
  .personal-data {
    display: block;
    margin: 0 auto;
  }
  #img-data {
    width: 250px;
    margin: 5px 15px;
  }
  .about-me {
    font-size: 18px;
    line-height: 22px;
    margin: 5px 15px;
  }
  .address {
    margin: 5px 15px;
    font-size: 36px;
    line-height: 60px;
  }
  .biography {
    width: 65%;
    font-size: 18px;
    line-height: 22px;
    margin: 5px 15px;
  }
  .btn-contact {
    margin: 15px;
  }

  .professional-data {
    height: auto;
  }

  .professional-data-container {
    display: block;
    margin-left: 85px;
    margin-top: 40px;
  }
  .experience {
    margin-top: 15px;
    margin-left: 100px;
    font-size: 18px;
    line-height: 22px;
  }
  .experience-company {
    margin: 5px 15px;
  }
  .experience-company section div {
    transform: translate(0) scale(1);
  }
  .professional-item {
    display: block;
    margin: 5px 15px;
  }
  .company-name {
    font-size: 18px;
    line-height: 22px;
    margin: 5px 15px;
  }
  .company-name-description {
    font-size: 18px;
    line-height: 22px;
    margin: 5px 15px;
  }

  .my-projects {
    width: 100%;
    background-color: #151515;
    height: auto;
    margin-bottom: 10px;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
  }

  .my-projects h3 {
    padding-top: 15px;
    margin-left: 10px;
  }

  .projects .project-item1,
  .project-item3,
  .project-item2,
  .project-item4,
  .project-item5 {
    margin: 0px 10px;
  }

  .projects .project-item-img {
    width: 60%;
    margin-left: 15px;
    margin-bottom: -20px;
  }
  .project-item-description h4,
  p,
  span {
    margin-left: 15px;
  }
  .project-btn-link {
    margin-left: 15px;
  }

  .footer-container {
    display: flex;
  }
  .project-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
  }
}

@media (max-width: 415px) {
  input {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
  }

  .content {
    max-width: 375px;
    margin: 0 auto;
  }

  nav {
    opacity: 0;
    visibility: hidden;
  }

  .introduction {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .img-data {
    width: 150px;
    height: auto;
  }
  .company-name-description {
    max-width: 90%;
    margin: 0;
    padding: 0;
  }

  .personal-data-container {
    margin-inline: auto;
  }

  .personal-data-container .biography {
    max-width: 90%;
    margin-top: 10px;
  }

  .experience-company div {
    margin-top: 10px;
  }

  .experience-company h2 {
    padding: 10px;
  }

  .professional-data {
    height: auto;
    padding-bottom: 15px;
  }
  .professional-item {
    margin: 0;
    padding: 0;
  }

  .professional-data .experience {
    margin-left: 15px;
  }

  .professional-data-container {
    display: block;
    margin-left: 0px;
    margin-top: 40px;
  }
  .my-projects h3 {
    margin-top: 100px;
    padding-top: 40px;
    margin-left: 25px;
  }
  .experience-company section {
    display: block;
  }
  .experience-company .embra-data,
  .money-data,
  .mobi-data {
    margin-left: -1px;
  }

  .projects {
    margin: auto;
  }

  .projects .project-item-img {
    width: 70%;
    height: 250px;
    margin: 0 5px;
  }

  .projects .project-item5,
  .projects .project-item6 {
    max-width: 95%;
    margin: 0 auto;
  }

  .project-item-img {
    max-width: 90%;
    margin: 0 auto;
  }
  .project-item-description {
    max-width: 80%;
  }

  .footer-container {
    display: flex;
    background-color: #121212;
    max-width: 374px;
  }

  .project-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }
}
