* {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #0c0c0c !important;
}

.container {
  margin-top: 3rem;
}

.header-container {
  background-color: #121212;
}

.introduction {
  max-width: 972px;
  padding: 40px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 50px;
  position: relative;
}

#img-port {
  width: 250px;
  clip-path: polygon(15% 20%, 100% 0%, 85% 80%, 0% 100%);
}

.nav-port {
  color: #3b8fdc;
}

.nav-port:hover {
  color: #4cdfff;
  text-decoration: none;
}

.nav-item a {
  color: #c4c4c4;
}

.nav-item a:hover {
  color: #4cdfff;
}

.hr-line {
  margin: 0 auto;
}

.hr-line hr {
  border: 2px solid #222121;
}

.presentation {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
}

.presentation-name {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  text-transform: uppercase;
  color: #3b8fdc;
}

.presentation-profession {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-social {
  display: flex;
  gap: 10px;
}

.img-social {
  width: 24px;
  height: 24px;
}

.btn-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  border-radius: 4px;
  width: 153px;
  height: 45px;
  background-color: #121212;
  border: 2px solid;
  border-image: linear-gradient(45deg, #9358f7, #10d7e2 100%) 1;
  color: #fff;
}

.btn-social-link img {
  margin-bottom: 7px;
}

.btn-social-git {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  border-radius: 4px;
  width: 153px;
  height: 45px;
  background-color: #121212;
  border: 2px solid;
  border-image: linear-gradient(45deg, #d24074, #6518b4 100%) 1;
  color: #fff;
}

.btn-social-link a,
.btn-social-git a {
  margin-left: 8px;
  text-decoration: none !important;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.btn-social-link a:hover,
.btn-social-git a:hover {
  color: #4cdfff;
}

.personal-data-container {
  width: 100%;
  height: 585px;
  background-color: #151515;
}

.personal-data {
  max-width: 972px;
  padding: 40px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 50px;
}

.about-me {
  font-style: Bold;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.address {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  color: #fff;
}

.biography {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 32px;
  font-weight: 300;
  color: #c4c4c4;
}

.btn-contact {
  display: flex;
  gap: 10px;
}

.btn-resume {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  border-radius: 4px;
  width: 60px;
  height: 44.7px;
  width: 153px;
  height: 45px;
  border-radius: 4px;
  border-image: linear-gradient(45deg, #d24074, #6518b4 100%) 1;
  background-color: #121212;
  color: #fff;
}

.btn-email {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  border-radius: 4px;
  width: 60px;
  height: 44.7px;
  width: 153px;
  height: 45px;
  border-radius: 4px;
  border-image: linear-gradient(45deg, #9358f7, #10d7e2 100%) 1;
  background-color: #121212;
  color: #fff;
}

.btn-resume a,
.btn-email a {
  margin-left: 8px;
  text-decoration: none !important;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.36px;
  color: #ffffff;
}

#img-data {
  width: 200px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.professional-data {
  width: 100%;
  background-color: #121212;
}

.experience {
  margin-top: 100px;
  margin-left: 160px;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
}

.professional-data-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.professional-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.professional-item h3 {
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  color: #fff;
  font-weight: 500;
}

.professional-item p {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #fff;
}

.company-name {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  font-weight: 500;
  color: #3b8fdc;
}

.company-name-description {
  max-width: 700px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  font-weight: 300;
  color: #c4c4c4;
}

.experience-company {
  margin-left: 160px;
  margin-bottom: 16px;
}

.experience-company h2 {
  width: 193px;
  height: 55px;
  background-color: #151515;
}

.experience-company div h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border-left: 2px solid #10d7e2;
}

@media (max-width: 768px) {
  .container {
    margin: 0 auto;
    margin-top: 1rem;
  }
  .introduction {
    display: block;
    margin: 0 auto;
  }
  #img-port {
    width: 200px;
    margin: 5px 15px;
  }
  .presentation {
    font-size: 18px;
    line-height: 22px;
    margin: 5px 15px;
  }
  .presentation-name {
    margin: 5px 15px;
    font-size: 36px;
    line-height: 60px;
  }
  .presentation-profession {
    font-size: 18px;
    line-height: 22px;
    margin: 5px 15px;
  }
  .btn-social {
    margin: 15px;
  }

  .personal-data-container {
    height: auto;
  }
  .personal-data {
    display: block;
    margin: 0 auto;
  }
  #img-data {
    width: 250px;
    margin: 5px 15px;
  }
  .about-me {
    font-size: 18px;
    line-height: 22px;
    margin: 5px 15px;
  }
  .address {
    margin: 5px 15px;
    font-size: 36px;
    line-height: 60px;
  }
  .biography {
    width: 65%;
    font-size: 18px;
    line-height: 22px;
    margin: 5px 15px;
  }
  .btn-contact {
    margin: 15px;
  }

  .professional-data {
    height: auto;
  }

  .professional-data-container {
    display: block;
    margin: 0 auto;
  }
  .experience {
    margin: 15px;
    font-size: 18px;
    line-height: 22px;
  }
  .experience-company {
    margin: 5px 15px;
  }
  .professional-item {
    display: block;
    margin: 5px 15px;
  }
  .company-name {
    font-size: 18px;
    line-height: 22px;
    margin: 5px 15px;
  }
  .company-name-description {
    font-size: 18px;
    line-height: 22px;
    margin: 5px 15px;
  }
}

@media (max-width: 415px) {
  .container {
    display: flex;
    margin: 0;
    padding-left: 0 !important;
  }
  .img-data {
    width: 150px;
    height: auto;
  }
}
